---
layout: default-a
---

<main>

  <style type="text/css">
    
  svg {
    position: absolute;
    top: 0;
    z-index: -1;
  }
  g {
    font-size: .5em;
    font-family: CooperHewitt_Medium;
  }
  g.artist {
    fill: #8addea;
  }
  g.theme {
    fill: #64a1aa;
  }
  g text {
    fill: #555;
  }


  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
  <script>

    //Width and height
    var w = window.innerWidth;
    var h = 600;

    var force = d3.layout.force()
      .charge(-1000)
      .linkDistance(150)
      .size([w, h]);

    var svg = d3.select("main")
        .append("svg")
        .attr("width", w)
        .attr("height", h);

    d3.json("network.json", function(error, dataset) {
      if (error) throw error;

      // D3 expects edge source and target to be node array positions, not node IDs. 
      // The following bit processes the JSON to switch IDs to array positions.
      var processededges = [];
      dataset.edges.forEach(function(e) { 
          // Get the source and target nodes
          var sourceNode = dataset.nodes.filter(function(n) { return n.id === e.source; })[0],
              targetNode = dataset.nodes.filter(function(n) { return n.id === e.target; })[0];
          // Add the edge to the array
          processededges.push({source: sourceNode, target: targetNode});
      });  

    force
        .nodes(dataset.nodes)
        .links(processededges)
        // .links(dataset.edges)
        .start();
    
    //Create edges as lines
    var edges = svg.selectAll("line")
      .data(processededges)
      .enter()
      .append("line")
      .style("stroke", "#e5e5e5")
      .style("stroke-width", 2);

    //Create nodes as circles with labels
    var node = svg.selectAll(".node")
      .data(dataset.nodes)
      .enter()
      .append("g")
      .attr("class", "node")
      .attr("class", function(d) { return d.type })
      .call(force.drag);

    node.append("circle")
      .attr("r", function(d) { return d.size * 8; })
      
    node.append("a")
        .attr("xlink:href", function(d) { return d.url })

    svg.selectAll("a")    
        .append("text")
        .attr("dx", 12)
        .attr("dy", ".35em")
        .text(function(d) { return d.label });

    //Every time the simulation "ticks", this will be called
    force.on("tick", function() {

      edges.attr("x1", function(d) { return d.source.x; })
         .attr("y1", function(d) { return d.source.y; })
         .attr("x2", function(d) { return d.target.x; })
         .attr("y2", function(d) { return d.target.y; });

      d3.selectAll("circle").attr("cx", function (d) { return d.x; })
        .attr("cy", function (d) { return d.y; });
  
      d3.selectAll("text").attr("x", function (d) { return d.x })
        .attr("y", function (d) { return d.y; });
        });

      });

  </script>
  
  <nav class="post-list">

    <div id="prev">
      <i class="fa fa-chevron-circle-left" onclick="scrollPrev()"></i>
    </div>

    <div id="scroll">
      <ul>

        <li id="welcome"><a href="{{site.baseurl}}/about.html"><h3>About</h3></a></li>
    
        {% for post in site.posts %}

        {% if post.title.size >= 42 %}
          {% capture full_title %}{{ post.title }}{% endcapture %}
        {% else %}
          {% capture full_title %}{{ post.title }}: {{ post.subtitle }}{% endcapture %}
        {% endif %}

        <li>
          <a href="{{ post.url | prepend: site.baseurl }}">  
            {% if post.thumbnail %} 
            <img src="assets/images/{{post.thumbnail}}" alt="{{ post.title | truncatewords: 3, '...' }}" />
            {% endif %}
            <div class="titlebox">
              <h3>{{ full_title | truncate: 42, '...' }}</h3>
              <h4>{{ post.date | date: "%B %-d, %Y" }}</h4>
            </div>
          </a>
        </li>
        {% endfor %}
                
      </ul>
    </div>

    <div id="next">
      <i class="fa fa-chevron-circle-right" onclick="scrollNext()"></i>
    </div>

  </nav>

</main>