<ul class="controls">
  
	<li><a href="{{ site.baseurl }}/about.html"><i class="fa fa-asterisk hvr-grow"></i></a></li>

	<li><a href="{{ site.baseurl }}/subscribe.html"><i class="fa fa-envelope hvr-grow"></i></a></li>

	<li><a href="{{ site.baseurl }}/assets/pdfs/circexchg_kpalbers.pdf"><i class="fa fa-download hvr-grow"></i></a></li>

</ul> 

<!-- ALTS

<ul class="controls">
  
	<li><a href="{{ site.baseurl }}/about/"><i class="fa fa-question-circle"></i></a></li>
	<li><a href="{{ site.baseurl }}/about/"><i class="fa fa-info"></i></a></li>
	<li><a href="{{ site.baseurl }}/about/"><i class="fa fa-hand-paper-o"></i></a></li>

	<li><a href="{{ site.baseurl }}/subscribe/"><i class="fa fa-bullhorn"></i></a></li>
	<li><a href="{{ site.baseurl }}/subscribe/"><i class="fa fa-envelope"></i></a></li>
	<li><a href="{{ site.baseurl }}/subscribe/"><i class="fa fa-envelope-o"></i></a></li>

	<li><a href="{{ site.baseurl }}/download/"><i class="fa fa-download"></i></a></li>
	<li><a href="{{ site.baseurl }}/download/"><i class="fa fa-file-pdf-o"></i></a></li>

</ul> 
 -->