<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.category == "articles" %}
  <title>{{ page.title | strip_html }}{% if page.subtitle %}: {{ page.subtitle | strip_html }}{% endif %} ({{ site.title }})</title>
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ page.title | strip_html }}{% if page.subtitle %}: {{ page.subtitle | strip_html }}{% endif %}" />
  <meta property="og:image" content="{{ site.baseurl }}/assets/images/{{ page.thumbnail }}" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}" />
  <meta name="og:description" content="{{ page.date | | date: "%B %d, %Y" }} -- {{ page.excerpt | strip_html }}">
  <meta property="og:site_name" content="{{ site.title }}: {{ site.subtitle }}" />
  {% else %}<title>{{ site.title }}: {{ site.subtitle }}</title>
  <meta name="og:description" content="{{ site.description }}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}" />
  <meta property="og:site_name" content="{{ site.title }}: {{ site.subtitle }}" />
  {% for post in site.posts %}<meta property="og:image" content="{{ site.baseurl }}/assets/images/{{ post.thumbnail }}" />
  {% endfor %}{% endif %}
  <link rel="icon" href="{{ "/assets/images/system/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ "/assets/css/calendas-plus-font.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/cooperhewitt-font.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/k.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/k-print.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl }}" />
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68312936-1', 'auto');
  ga('send', 'pageview');
  </script>
</head>
