/* 
Reset
*/
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/* 
Main
*/

body {
	font-family: Calendas_Plus; 
	color: #111;
	font-size: 1.3em; 
	line-height:1.45em; 
	background-color: #f5f5f5;
}
body em {
	font-family: Calendas_PlusItalic;
	font-style: normal;
}
p, ul, ol, h3 {
	margin-bottom: .75em;
	margin-top: 0; 
}	
sup {
	line-height: 0;
}
svg {
	max-width: 100%;
}


/*
Headings
*/

h1 { 
	font-family: CooperHewitt_Thin;
	font-size:3.6em;
	font-weight: normal;
	line-height: 1.35em;
}
h2 { 
	font-family: CooperHewitt_Light;
	font-size: 1.7em;
	font-weight: normal;
	border-left: 1px solid #111;
	padding-left: 20px;
	padding-top: 5px;
	line-height: 1.45em;
}	
h2 strong { 
	font-family: CooperHewitt_Book;
}
h3 {
	font-family: CooperHewitt_Light;
	font-size: 1em;
	font-weight: normal;
}
h3 strong {
	font-family: CooperHewitt_Book;
	text-decoration: underline;
}
h4 {
	font-family: CooperHewitt_Bold;
	font-size: .7em;			
	font-weight: normal;
	color: #555;
}
h4 strong {
	font-family: CooperHewitt_Heavy;
	text-transform: uppercase;
	letter-spacing: 1px;
}


/*
Links
*/
a {
  color: #111;
  text-decoration: none; 
}
a:visited {
	color: #111; 
}
a:hover {
	color: #555;
	border-bottom: 2px solid #555;
}


/*
Home Page Post List
*/
.post-list {
	width: 100%;
	height: 90px;
	position: fixed;
	bottom:40px;
	background-color: #f5f5f5;
	opacity: .9;
}
#prev {
	float: left;
	margin-left: 20px;
	text-align: left;
	font-size: 1.75em;
	margin-top: 6px;
	color: #fffc01;
}
#next {
	float: right;
	margin-right: 20px;
	text-align: right;
	width: 40px;
	font-size: 1.75em;
	margin-top: 6px;
	color: #fffc01;
}
#next a, #prev a {
	color: #fffc01;
	border-bottom: none;
}
#next a:hover, #prev a:hover  {
	color: #111;
}
#welcome {
	border-left: none;
	margin-left: 20px;
	width: 90px;
}
#scroll {
	position: absolute;
	top:0;
	left:60px;
	width: calc(100% - 140px);
	height: 100%;
	overflow: scroll;
}
#scroll ul {
	width: 10000px;
}
.post-list ul {
	list-style-type: none;
}
.post-list li {
	float: left;
	height: 90px;
	margin-left: 20px;
	border-left: 1px solid #111;
	padding: 0px;
}
.post-list img {
	display: inline;
	float: left;
	height: 100%;
	margin-left: 20px;
	margin-right: 20px;
	padding: 0px;
}
.post-list .titlebox {
	display: inline-block;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	width: 220px;
	height: 100%;
}
.post-list h3 {
	margin: 0px;
	padding: 0px;
}
.post-list h4 {
	margin-top: 2px;
} 
.post-list li a {
	margin: 0px; 
	display: block; 
	width: 100%; 
	height: 100%;
}
.post-list a:hover {
	text-decoration: none;
}
.post-list a:hover h3 {
	color: #000;
	margin-bottom: -1px;
	border-bottom: 1px solid #111; 
}


/* 
Header
*/
.header {
	position: fixed;
	width:100%;
	top: 0px;
	left: 0px;
	height: 28px;
	padding:15px;
	/*font-family: CooperHewitt_Heavy;
	font-size: .7em;			
	font-weight: normal;*/
	background-color: #f5f5f5;
	opacity: .9;
}
.header .title {
	float: left;
}
.header ul {
	list-style-type: none;
}
.header .controls , .controls li {
	float: right;
	text-align: right;
	margin-right: 15px;
	font-size: .9em;
}

.header .controls a:hover {
	border-bottom: none;
	/*border-bottom-color: #fffc01;*/
}


/* 
Article
*/

article p, article blockquote, article h1, .footnotes ol, article ul, article ol, article h3 {
	width: 640px;
	margin-left: 240px;
}

.footnotes ol p {
	margin-left: 0px;
}

article header {
	margin-bottom: 40px;
	margin-top: 160px;
}

article header p {
	font-family: CooperHewitt_Book;
	/*font-size: 1.1em;*/
	margin-top: 10px;
	padding-bottom: 20px;
	border-bottom: 2px solid #555;
	border-bottom-color: #fffc01;
}

article blockquote p {
	margin-left: 40px;
	width: 600px;
	font-family: Calendas_PlusItalic;
	font-style: normal;
}

article blockquote em {
	font-family: Calendas_Plus;
	font-style: normal;
}

article h2 {
	margin-top: 60px;
	margin-bottom: 15px;
	border-left: 4px solid #fffc01;
	margin-left: 216px;
}

article a {
	color: #555;
	border-bottom: 3px solid #fffc01;
	text-decoration: none; }
article a:visited {
    color: #555; 
	text-decoration: none;}
article a:hover {
    color: #000;
    border-bottom-color: #000; 
	text-decoration: none;
}

article sup {
	font-family: CooperHewitt_Medium;
	font-size: .7em;
	color: #555;
	margin-left: 2px;
}    

article.informational ul li {
	list-style-type: none;
	margin-bottom: .5em;
}

article #next {
	position: absolute;
	bottom: 88px;
	right: 0px;
}
article #prev {
	position: absolute;
	bottom: 88px;
	left: 0px;
}

figcaption {
	font-family: CooperHewitt_Bold;
	font-size: .7em;
	color: #555;
	line-height: 1.5em;
}

figcaption em {
	font-family: CooperHewitt_BoldItalic;
	font-style: none;
}

.figure {
	width: 640px;
	margin-left: 240px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.figure img {
	width: 100%;
	margin-bottom: 5px;
}

.figure-lg {
	width: 100%;
	margin-left: 0px;
}

.figure-lg img {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
}

.figure-lg figcaption {
	margin-left: 940px;
	width: 240px;
	height: 0px;
}

.figure-sm {
	width: 1180px;
	margin-left: 0px;
}

.figure-sm img {
	width: 240px;
	float: right;
	clear: both;
}

.figure-sm figcaption {
	width: 240px;
	margin-top: 10px;
	margin-bottom: 30px;
	float: right;
	clear: both;
}







/* 
Site Banner
*/
/*.banner {
	font-family: Raleway; 			
	font-weight:300;
	font-size: .75em;
	width: 200px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0px;
	background-color: #2c0202;
	background-image: url('../images/spectrum-80px.png');
	background-position: right top;
	background-repeat: repeat-y;
}*/

.banner {

}


/* 
MailChimp Form
*/
form {
	margin: 2em auto; 
	width:80%; 
	min-width: 180px;
	border: 1px solid #888;
	border-radius: 3px;
	padding: .6em;  }
input {
	border: none;
	font-size: 1.2em;
	font-family: Raleway; 
	font-weight:200;
	color: #888; 
	height:30px; 
	margin-top:.6em;
	margin-bottom:1em;}
#mce-EMAIL {
	text-align: left;
	width:60%;
	min-width: 180px; 
	height:26px; }	
#mc-embedded-subscribe {	
	font-size: 1em;
	width:30%;	
	min-width: 120px;
	border: 1px solid #888;
	border-radius: 3px;
	background-color: #fff;
	color:#000; }
#mc-embedded-subscribe:hover {
	background-color: #888;
	color: #fff; }


/*.credits {
	color: #888;  }
.twitter {
	background-image: url("../images/twitter_thin.png"); 
	background-repeat: no-repeat;
	width: 29px;
	height: 23px; 
	margin: 0 auto; }
.twitter:hover {
	background-image: url("../images/twitter_fill.png"); }
#footbackground {
	width:100%;
	height: 30px;
	position:fixed;
	bottom:0px;
	background-color: #000;
	opacity:.6; }
#foottext {
	width:100%;
	height: 25px;
	position:fixed;
	bottom:0px; 
	color: #ddd;
	font-size: .75em;  }
#foottext a:link, a:visited {
	text-decoration: none; 
	color: #ddd; }
#foottext a:hover {
	text-decoration: underline; }	
	*/