
/*
Palette

Black Hover: #555;
Text: #111;
Dark Gray: #555;
Mid Gray Inactive: #e5e5e5;
Light Gray Background: #f5f5f5;
Yellow Accent: #fffc01;
Yellow Hover: #e5d30b;

*/


/* 
Reset
*/
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/* 
Main
*/

body {
	font-family: Calendas_Plus; 
	color: #111;
	font-size: 1.3em; 
	line-height:1.45em; 
	background-color: #f5f5f5;
}
body em {
	font-family: Calendas_PlusItalic;
	font-style: normal;
}
p, ul, ol, h3 {
	margin-bottom: .75em;
	margin-top: 0; 
}	
sup {
	line-height: 0;
}
#artswriters-logo {
	background-image: url('../images/system/artswriters_logo_f5f5f5.png');
	background-repeat: no-repeat;
	width: 100%;
	height: 166px;
}


/*
Headings
*/

h1 { 
	font-family: CooperHewitt_Thin;
	font-size:3.6em;
	font-weight: normal;
	line-height: 1.35em;
}
h2 { 
	font-family: CooperHewitt_Light;
	font-size: 1.7em;
	font-weight: normal;
	border-left: 1px solid #111;
	padding-left: 20px;
	padding-top: 5px;
	line-height: 1.45em;
}	
h2 strong { 
	font-family: CooperHewitt_Book;
}
h3 {
	font-family: CooperHewitt_Light;
	font-size: 1em;
	font-weight: normal;
}
h3 strong {
	font-family: CooperHewitt_Book;
	text-decoration: underline;
}
h3 em {
	font-family: CooperHewitt_LightItalic;
	font-style: normal;
}
h4 {
	font-family: CooperHewitt_Bold;
	font-size: .7em;			
	font-weight: normal;
	color: #555;
}
h4 strong {
	font-family: CooperHewitt_Heavy;
	text-transform: uppercase;
	letter-spacing: 1px;
}


/*
Links
*/
a {
  color: #111;
  text-decoration: none; 
}
a:visited {
	color: #111; 
}
a:hover {
	color: #555;
	border-bottom: 2px solid #555;
}

img.home {
	width: 60%;
	overflow: hidden;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 100px;
}

/*
Home Page Post List
*/

.post-list {
	width: 100%;
	height: 90px;
	position: fixed;
	bottom:40px;
	background-color: #f5f5f5;
	opacity: .9;
}
#prev {
	float: left;
	margin-left: 20px;
	text-align: left;
	font-size: 1.75em;
	margin-top: 6px;
	color: #fffc01;
}
#next {
	float: right;
	margin-right: 20px;
	text-align: right;
	width: 40px;
	font-size: 1.75em;
	margin-top: 6px;
	color: #fffc01;
}
#next a, #prev a {
	color: #fffc01;
	border-bottom: none;
}
#next a:hover, #prev a:hover  {
	color: #e5d30b;
}
#next i:hover, #prev i:hover  {
	color: #e5d30b;
}

.inactive i {
	color: #e5e5e5;
}

#welcome {
	border-left: none;
	margin-left: 20px;
	width: 90px;
}
#scroll {
	position: absolute;
	top:0;
	left:60px;
	width: calc(100% - 140px);
	height: 100%;
	overflow-y: hidden;
	overflow-x: scroll;
}
#scroll ul {
	width: 10000px;
}
.post-list ul {
	list-style-type: none;
}
.post-list li {
	float: left;
	height: 90px;
	margin-left: 20px;
	border-left: 1px solid #111;
	padding: 0px;
}
.post-list img {
	display: inline;
	float: left;
	height: 100%;
	margin-left: 20px;
	margin-right: 20px;
	padding: 0px;
}
.post-list .titlebox {
	display: inline-block;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	width: 220px;
	height: 100%;
}
.post-list h3 {
	margin: 0px;
	padding: 0px;
}
.post-list h4 {
	margin-top: 2px;
} 
.post-list li a {
	margin: 0px; 
	display: block; 
	width: 100%; 
	height: 100%;
}
.post-list a:hover {
	text-decoration: none;
}
.post-list a:hover h3 {
	color: #000;
	margin-bottom: -1px;
	border-bottom: 1px solid #111; 
}


/* 
Header
*/

.background {
	position: fixed;
	width:100%;
	top: 0px;
	left: 0px;
	height: 28px;
	padding:15px;
	background-color: #f5f5f5;
	opacity: .9;
	z-index: 0;
}
.title-group {
	position: fixed;
	top: 0;
	left: 0;
}
.title {
	margin-top: 15px;
	margin-left: 15px;
	display: inline-block;
}
.separator {
	margin-top: 15px;
	display: inline-block;
}
.author {
	margin-top: 15px;
	display: inline-block;
}
.extras {
	position: fixed;
	top: 0;
	right: 0;
	list-style-type: none;
	margin-top: 15px;
	margin-right: 15px;
	float: right;
}
.extras li {
	float: right;
	text-align: right;
	margin-left: 15px;
	font-size: .9em;
}
.extras a:hover {
	border-bottom: none;
	color: #111;
}


/*
 Hover.css (http://ianlunn.github.io/Hover/)
 * Version: 2.0.2
 * Author: Ian Lunn @IanLunn
*/ 
.hvr-grow {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}



/* 
Article
*/
article {
	width: 640px;
	margin-left: 240px;
	margin-bottom: 60px;
	word-wrap: break-word;
}

article header {
	margin-bottom: 40px;
	margin-top: 160px;
	font-family: CooperHewitt_Book;
	word-wrap: normal;
}

article hr {
	border-style: solid;
	border-color: #fffc01;
	width: 90%;
	margin-bottom: 1em;
}

article .theme, article .platform {
	color: #f5f5f5;
	background-color: #d5d5d5;
	padding-left: .7em;
	padding-right: .7em;
	padding-top: .6em;
	padding-bottom: .4em;
	margin-right: .3em;
	margin-left: .3em;
	border-radius: .5em;
}

article blockquote p {
	padding-left: 40px;
	font-family: Calendas_PlusItalic;
	font-style: normal;
}

article blockquote em {
	font-family: Calendas_Plus;
	font-style: normal;
}

article h2 {
	margin-top: 60px;
	margin-bottom: 15px;
	border-left: 4px solid #fffc01;
	margin-left: -24px;
	word-wrap: normal;
}

article a {
	color: #555;
	border-bottom: 3px solid #fffc01;
	text-decoration: none; }
article a:visited {
    color: #555; 
	text-decoration: none;}
article a:hover {
    color: #000;
    border-bottom-color: #000; 
	text-decoration: none;
}

article sup {
	font-family: CooperHewitt_Medium;
	font-size: .7em;
	color: #555;
	margin-left: 2px;
}    

article.informational ul li {
	list-style-type: none;
	margin-bottom: .5em;
}

article #next {
	position: fixed;
	bottom: 88px;
	right: 0px;
}
article #prev {
	position: fixed;
	bottom: 88px;
	left: 0px;
}

figcaption {
	font-family: CooperHewitt_Bold;
	font-size: .7em;
	color: #555;
	line-height: 1.5em;
}

figcaption em {
	font-family: CooperHewitt_BoldItalic;
	font-style: none;
}

.figure {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
}

.figure img {
	width: 100%;
	margin-bottom: 5px;
}

.figure-lg {
	width: 1220px;
	min-width: 1220px;
	margin-left: -240px;
}

.figure-lg img {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
}

.figure-lg figcaption {
	margin-left: 940px;
	width: 240px;
	height: 0px;
}

.figure-sm {
	width: 940px;
	margin-left: 0px;
}

.figure-sm img {
	width: 240px;
	float: right;
	clear: both;
}

.figure-sm figcaption {
	width: 240px;
	margin-top: 10px;
	margin-bottom: 30px;
	float: right;
	clear: both;
}

article header img {
	float: right;
}

article footer {
	word-wrap: break-word;
	font-family: CooperHewitt_Book;
	font-size: .7em;
	line-height: 1.75em;
	color: #555;
	margin-top: 80px;
	padding-top: 20px;
	border-top: 1px solid #111;
}

article footer em {
	font-family: CooperHewitt_BookItalic;
}

article footer p {
	margin-left: 0px;
}

article footer img {
	max-width: 100%;
}


/* 
MailChimp Form
*/

#mc_embed_signup {
	font-family: CooperHewitt_Light;
	font-size: 1em;
	font-weight: normal;
}
#mce-EMAIL {
	width: 95%;
	height: 3em;
	margin-top: 0px;
	font-size: 1em;
	padding-left: 5%;
	letter-spacing: 1px;
	border-radius: 6px;
	border: none;
}
#mc-embedded-subscribe {
	float: right;
	height: 3em;
	background-color: #fffc01;
	color: #555;
	border: none;
	border-radius: 6px;
	font-size: 1em;
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 20px;
}
#mc-embedded-subscribe:hover {
	color: #fff;
	background-color: #e5d30b;
}
.button {
	-webkit-appearance: none;
}

@media screen and (max-width: 1219px) {
   article {
		width: 640px;
		margin-left: 240px;
	}
	.figure-lg {
		width: 840px;
		min-width: 840px;
		margin-left: -240px;
		margin-bottom: 30px;
	}
	.figure-lg img {
		margin-top: 30px;
		margin-bottom: 5px;
	}
	.figure-lg figcaption {
		margin-left: 240px;
		width: 640px;
		height: auto;
	}
	.figure-sm {
		width: 640px;
		margin-left: 0px;
	}
	.figure-sm img {
		width: 240px;
		margin-left: 20px;
		float: right;
		clear: both;
	}
	.figure-sm figcaption {
		width: 240px;
		margin-top: 10px;
		margin-bottom: 30px;
		margin-left: 20px;
		float: right;
		clear: both;
	}
}


@media screen and (max-width: 959px) {
   article {
		width: 640px;
		margin-left: auto;
		margin-right: auto;
	}
	.figure-lg {
		width: 100%;
		min-width: 100%;
		max-width: 100%;
		margin-left: 0px;
		margin-bottom: 30px;
	}
	.figure-lg img {
		margin-top: 30px;
		margin-bottom: 5px;
	}
	.figure-lg figcaption {
		margin-left: 0px;
		width: 100%;
		height: auto;
	}
	.figure-sm {
		width: 640px;
		margin-left: 0px;
	}
	.figure-sm img {
		width: 240px;
		margin-left: 20px;
		float: right;
		clear: both;
	}
	.figure-sm figcaption {
		width: 240px;
		margin-top: 10px;
		margin-bottom: 30px;
		margin-left: 20px;
		float: right;
		clear: both;
	}
}

/* tablets in portrait */

@media screen and ( orientation: portrait) and ( max-aspect-ratio: 7/8 ) {
	img.home {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 180px;
	}
	.post-list {
		width: 100%;
		height: 270px;
		position: fixed;
		bottom:40px;
		background-color: #f5f5f5;
		opacity: .9;
	}
	#prev {
		margin-top: 120px;
	}
	#next {
		margin-top: 120px;
	}
	article #prev, article #next {
	  bottom: 152px;
	}
	#welcome {
		border-left: none;
		margin-left: 20px;
		width: 90px;
		margin-top: 172px;
	}
	.post-list li {
		float: left;
		height: 270px;
		margin-left: 20px;
		/*border-left: 1px solid #111;*/
		border-left: none;
		padding: 0px;
	}
	.post-list img {
		display: block;
		float: none;
		height: 60%;
		margin-left: 20px;
		margin-right: 0px;
		padding: 0px;
	}
	.post-list .titlebox {
		display: inline-block;
		vertical-align: top;
		margin-left: 20px;
		margin-top: 10px;
		padding: 0px;
		width: 220px;
		height: 100%;
	}
}

/* phones */

@media screen and (max-width: 679px) {
   article {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}
	article header {
		margin-top: 120px;
	}
	.figure-lg {
		width: 100%;
		min-width: 100%;
		max-width: 100%;
		margin-left: 0px;
		margin-bottom: 30px;
	}
	.figure-lg img {
		margin-top: 30px;
		margin-bottom: 5px;
	}
	.figure-lg figcaption {
		margin-left: 0px;
		width: 100%;
		height: auto;
	}
	.figure-sm {
		width: 100%;
		margin-left: 0px;
	}
	.figure-sm img {
		width: 40%;
		margin-left: 5%;
		float: right;
		clear: both;
	}
	.figure-sm figcaption {
		width: 40%;
		margin-top: 10px;
		margin-bottom: 30px;
		margin-left: 5%;
		float: right;
		clear: both;
	}
	body {
		font-size: 1.2em; 
		line-height:1.5em; 
	}
	h1 { 
		font-size:2.3em;
		line-height: 1.35em;
	}
	ol {
		padding-left: 10%;
	}
	article blockquote p {
		padding-left: 5%;
	}
	article #next {
		bottom: 20px;
		margin-right: 5%;
	}
	article #prev {
		bottom: 20px;
		margin-left: 5%;
	}
	#next a, #prev a {
		color: #e5d30b;
		border-bottom: none;
	}
	.background {
		position: fixed;
		width:100%;
		top: 0px;
		left: 0px;
		height: 28px;
		padding:15px;
		background-color: #f5f5f5;
		opacity: .9;
		z-index: 1;
	}
	.title-group {
		position: relative;
		top: auto;
		left: auto;
		z-index: 2;
	}
	.title {
		position: fixed;
		top: 0;
		left: 0;
		margin-top: 15px;
		margin-left: 15px;
		display: inline-block;
	}
	.separator {
		display: none;
	}
	.author {
		margin-top: 45px;
		margin-left: 15px;
		display: block;
		height: 0px;
	}
	.extras {
		position: relative;
		top: 0;
		right: 0;
		list-style-type: none;
		margin-top: 0;
		margin-right: 15px;
		float: right;
		z-index: 2;
	}
	.extras li {
		float: none;
		text-align: right;
		margin-left: 15px;
		font-size: .9em;
	}
	.extras a:hover {
		border-bottom: none;
		color: #111;
	}
	.about {
		position: fixed;
		top: 15px;
		right: 15px;
	}
	.subscribe {
		position: relative;
	}
	.download {
		position: relative;
	}

	/*
	Home Page
	*/
	img.home {
		display: none;
	}
	.post-list {
		height: auto;
		position: relative;
		background-color: transparent;
		z-index: 0;
		margin-top: 160px;
	}
	.post-list ul {
		list-style-type: none;
	}
	.post-list li {
		float: none;
		height: auto;
		margin-left: 0;
		border-left: none;
		border-bottom: 1px solid #111;
		margin-bottom: 40px;
	}
	.post-list img {
		height: auto;
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 10px;
	}
	.post-list .titlebox {
		width: 80%;
	}
	.post-list .titlebox h3 {
		font-size: 1.2em;
		line-height: 1.4em;
		margin-bottom: 5px;
	}
	#prev {
		display: none;
	}
	#next {
		display: none;
	}
	#welcome {
		display: none;
	}
	#scroll {
		position: relative;
		left:0;
		width: 100%;
		height: auto;
		overflow-y: visible;
		overflow-x: visible;
	}
	#scroll ul {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}
}


/*.credits {
	color: #888;  }
.twitter {
	background-image: url("../images/twitter_thin.png"); 
	background-repeat: no-repeat;
	width: 29px;
	height: 23px; 
	margin: 0 auto; }
.twitter:hover {
	background-image: url("../images/twitter_fill.png"); }
#footbackground {
	width:100%;
	height: 30px;
	position:fixed;
	bottom:0px;
	background-color: #000;
	opacity:.6; }
#foottext {
	width:100%;
	height: 25px;
	position:fixed;
	bottom:0px; 
	color: #ddd;
	font-size: .75em;  }
#foottext a:link, a:visited {
	text-decoration: none; 
	color: #ddd; }
#foottext a:hover {
	text-decoration: underline; }	
	*/