/*
Palette

Black Hover: #555;
Text: #111;
Dark Gray: #555;
Mid Gray Inactive: #e5e5e5;
Light Gray Background: #f5f5f5;
Yellow Accent: #fffc01;
Yellow Hover: #e5d30b;
*/


/*
Reset
*/

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/*
Main
*/

body {
	font-family: Calendas_Plus;
	color: #111;
	font-size: 1.3em;
	line-height:1.45em;
	background-color: #f5f5f5;
}
body em {
	font-family: Calendas_PlusItalic;
	font-style: normal;
}
p, ul, ol, h3, h5 {
	margin-bottom: .75em;
	margin-top: 0;
}
sup {
	line-height: 0;
}


/*
Headings
*/

h1 {
	font-family: CooperHewitt_Thin;
	font-size:3.6em;
	font-weight: normal;
	line-height: 1.35em;
}
h1 em {
	font-family: CooperHewitt_ThinItalic;
}
h2 {
	font-family: CooperHewitt_Light;
	font-size: 1.7em;
	font-weight: normal;
	border-left: 1px solid #111;
	padding-left: 20px;
	padding-top: 5px;
	line-height: 1.45em;
}
h2 strong {
	font-family: CooperHewitt_Book;
}
h3 {
	font-family: CooperHewitt_Light;
	font-size: 1em;
	font-weight: normal;
}
h3 strong {
	font-family: CooperHewitt_Book;
	text-decoration: underline;
}
h3 em {
	font-family: CooperHewitt_LightItalic;
	font-style: normal;
}
h4 {
	font-family: CooperHewitt_Bold;
	font-size: .7em;
	font-weight: normal;
	color: #555;
}
h4 strong {
	font-family: CooperHewitt_Heavy;
	text-transform: uppercase;
	letter-spacing: 1px;
}
h5 {
	font-family: Calendas_PlusBold;
	font-size: 1em;
	font-weight: normal;
  	margin-top: 2em;
}

/*
Links
*/

a {
	color: #111;
	text-decoration: none;
}
a:visited {
	color: #111;
}
a:hover {
	color: #555;
	border-bottom: 2px solid #555;
}

/*
Home
*/

img.home {
	width: 50%;
	overflow: hidden;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 100px;
}
.post-list {
  margin: 4rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-auto-rows: 8rem; */
  grid-gap: 1rem;
	/* width: 100%;
	height: 90px;
	position: fixed;
	bottom:40px;
	background-color: #f5f5f5;
	opacity: .9; */
}
#prev {
	float: left;
	margin-left: 20px;
	text-align: left;
	font-size: 1.75em;
	margin-top: 6px;
	color: #fffc01;
}
#next {
	float: right;
	margin-right: 20px;
	text-align: right;
	width: 40px;
	font-size: 1.75em;
	margin-top: 6px;
	color: #fffc01;
}
#next a, #prev a {
	color: #fffc01;
	border-bottom: none;
}
#next a:hover, #prev a:hover  {
	color: #e5d30b;
}
#next i:hover, #prev i:hover  {
	color: #e5d30b;
}
/* #welcome {
	border-left: none;
	margin-left: 20px;
	width: 90px;
} */
/* #scroll {
	position: absolute;
	top:0;
	left:60px;
	width: calc(100% - 140px);
	height: 100%;
	overflow-y: hidden;
	overflow-x: scroll;
}
#scroll ul {
	width: 10000px;
} */
.post-list {
	list-style-type: none;
}
.post-list > li {
	/* float: left;
	height: 90px;
	margin-left: 20px; */
	/* border-left: 1px solid #111; */
  grid-column: span 2;
  padding: .75rem .75rem 0;
  border-top: 1px solid gray;
  /* grid-row: span 2; */
	/* padding: 0; */
  /* cursor: pointer; */
}

.post-list > li.feature {
  grid-row: span 2;
  background: #fffc01;
}
.post-list > li.elsewhere {
  background: white;
  grid-column: 5 / span 3;
  grid-row: 3 / span 2;
}
.post-list > li.elsewhere .titlebox {
  height: auto;
  overflow: visible;
}
.post-list > li.elsewhere h3 {
  font-weight: bold;
}
.post-list > li.elsewhere ul {
  font-size: .85em;
  font-family: CooperHewitt_Book;
  margin-top: 1rem;
  list-style-type: disclosure-closed;
  padding-left: 1.25rem;
}
.post-list > li.elsewhere ul li {
  margin-bottom: .25rem;
}
.post-list > li.elsewhere a .elsewhere-title {
  font-style: italic;
  border-bottom: 2px solid #fffc01;
}
.post-list > li.elsewhere a:hover .elsewhere-title {
  color: black;
  border-bottom-color: black;
}
@media screen and (max-width: 1080px) {
  .post-list > li.elsewhere {
    grid-column-start: 4;
  }
}
.post-list .imagebox {
  float: left;
  margin-right: 1rem;
  height: 7.5rem;
  /* max-width: calc(((100vw - 4rem) / 6 )); */
}
.post-list .imagebox img {
  max-height: 7.5rem;
  max-width: calc(((100vw - 4rem) / 6 ));
}
.post-list li.feature .imagebox img {
  max-height: 16rem;
  max-width: calc(((100vw - 4rem) / 6 ) * 1.2);
}
.post-list .titlebox {
  height: 7.5rem;
  overflow: hidden;
}
.post-list li.feature .titlebox {
  height: 16rem;
}


@media screen and (max-width: 1079px) {
  .post-list > li {
    grid-column: span 3;
  }
}
@media screen and (max-width: 679px) {
  .post-list {
    display: block;
  }
  .post-list > li {
    padding-bottom: .75rem;
  }
  .post-list .imagebox {
    height: 10.5rem;
  }
  .post-list .imagebox img {
    max-height: 10.5rem;
    max-width: calc(((100vw - 4rem) / 3 ));
  }
  .post-list li.feature .imagebox img {
    max-height: 16rem;
    max-width: calc(((100vw - 4rem) / 3 ) * 1.2);
  }
  .post-list .titlebox {
    height: 10.5rem;
    overflow: hidden;
  }
  .post-list li.feature .titlebox {
    height: 16rem;
  }
}

@media screen and (max-width: 379px) {
  .post-list > li {
    padding: 2rem 0;
  }
  .post-list > li.feature,
  .post-list > li.elsewhere {
    padding: 1rem 1rem 2rem;
  }
  .post-list .imagebox {
    height: auto;
    width: 100%;
  }
  .post-list .imagebox img,
  .post-list li.feature .imagebox img {
    max-height: initial;
    max-width: 100%;
    width: 100%;
  }
  .post-list .titlebox {
    height: auto;
    overflow: visible;
  }
  .post-list li.feature .titlebox {
    height: auto;
  }
}

.post-list img {
	/* display: inline;
	height: 100%; */
  
  /* height: 6vw;
  float: left;
  margin-right: 1vw;
   */
	/* margin: 0 0 0 24px;
	padding: 0; */
}
/* .post-list > li.feature img {
  height: auto;
  max-width: calc(((100vw - 4rem) / 6 ) * 1.3);
  max-height: 100%;
} */
.post-list .titlebox {
	/* display: inline-block;
	vertical-align: top;
	margin: 0 0 0  18px;
	padding: 0;
	width: 220px;
	height: 100%; */
}
.post-list h3 {
	margin: 0;
	padding: 0;
  font-family: CooperHewitt_Book;
}
.post-list h4 {
	margin-top: 2px;
  font-family: CooperHewitt_Light;
}
.post-list li a {
	margin: 0;
	display: block;
	width: 100%;
	height: 100%;
}
.post-list li a:hover {
	text-decoration: none;
  border-bottom-width: 0;
}
/* .post-list li a:hover h3 {
  font-weight: bold;
} */
/* .post-list a:hover h3 {
	color: #000;
	margin-bottom: -1px;
	border-bottom: 1px solid #111;
} */

/*
Banner
*/

.background {
	position: fixed;
	width:100%;
	top: 0;
	left: 0;
	height: 28px;
	padding:15px;
	background-color: #f5f5f5;
	opacity: .9;
	z-index: 0;
}
.title-group {
	position: fixed;
	top: 0;
	left: 0;
}
.title {
	margin-top: 15px;
	margin-left: 15px;
	display: inline-block;
}
.separator {
	margin-top: 15px;
	display: inline-block;
}
.author {
	margin-top: 15px;
	display: inline-block;
}
.extras {
	position: fixed;
	top: 0;
	right: 0;
	list-style-type: none;
	margin-top: 15px;
	margin-right: 15px;
	float: right;
}
.extras li {
	float: right;
	text-align: right;
	margin-left: 15px;
	font-size: .9em;
}
.extras a:hover {
	border-bottom: none;
	color: #111;
}

/*
 Hover.css (http://ianlunn.github.io/Hover/)
 * Version: 2.0.2
 * Author: Ian Lunn @IanLunn
*/

.hvr-grow {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

/*
Pages
*/

#artswriters-logo {
	background-image: url('../images/system/artswriters_logo_f5f5f5.png');
	background-repeat: no-repeat;
	width: 100%;
	height: 166px;
}
.figure-profile {
	float:right;
	margin-left:20px;
	text-align: center;
	border-bottom: 2px solid #555;
	padding-bottom: 8px;
	margin-bottom: 20px;
	width: 160px;
}
.figure-profile figcaption {
	color: #111;
}
.figure-profile img {
	margin-bottom: 2px;
	width: 100%;
}
.figure-profile .fa {
	vertical-align: middle;
	margin: 8px;
}
.figure-profile a {
	color: #111;
	border-bottom: none;
}
.figure-profile .fa-envelope {
	margin-top: 5px;
}

/*
Articles
*/

article {
	width: 640px;
	margin-left: 240px;
	margin-bottom: 60px;
	word-wrap: break-word;
}
article header {
	margin-bottom: 40px;
	margin-top: 160px;
	font-family: CooperHewitt_Book;
	word-wrap: normal;
}
article hr {
	border-style: solid;
	border-color: #fffc01;
	width: 90%;
	margin-bottom: 1em;
}
article .theme, article .platform {
	color: #f5f5f5;
	background-color: #d5d5d5;
	padding: 6em .7em .4em .7em;
	margin-right: .3em;
	margin-left: .3em;
	border-radius: .5em;
}
article blockquote p {
	padding-left: 40px;
	font-family: Calendas_PlusItalic;
	font-style: normal;
}
article blockquote ul {
	padding-left: 60px;
	font-family: Calendas_PlusItalic;
	font-style: normal;
}
article blockquote ul li {
  margin-bottom: .2em;
}
article blockquote em {
	font-family: Calendas_Plus;
	font-style: normal;
}
article h2 {
	margin-top: 60px;
	margin-bottom: 15px;
	border-left: 4px solid #fffc01;
	margin-left: -24px;
	word-wrap: normal;
}
article a {
	color: #555;
	border-bottom: 3px solid #fffc01;
	text-decoration: none; }
article a:visited {
    color: #555;
	text-decoration: none;}
article a:hover {
    color: #000;
    border-bottom-color: #000;
	text-decoration: none;
}
article sup {
	font-family: CooperHewitt_Medium;
	font-size: .7em;
	color: #555;
	margin-left: 2px;
}
article.informational ul li {
	list-style-type: none;
	margin-bottom: .5em;
}
article .pronunciation {
  font-family: Helvetica, Arial, sans-serif;
  font-size: .9em;
  letter-spacing: .5px;
}
article #next {
	position: fixed;
	bottom: 88px;
	right: 0;
}
article #prev {
	position: fixed;
	bottom: 88px;
	left: 0;
}
figcaption {
	font-family: CooperHewitt_Bold;
	font-size: .7em;
	color: #555;
	line-height: 1.5em;
}
figcaption em {
	font-family: CooperHewitt_BoldItalic;
	font-style: normal;
}
.figure {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
}
.figure img {
	width: 100%;
	margin-bottom: 5px;
}
.figure-lg {
	width: 1220px;
	min-width: 1220px;
	margin-left: -240px;
}
.figure-lg img {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
}
.figure-lg figcaption {
	margin-left: 940px;
	width: 240px;
	height: 0;
}
.figure-md {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
}
.figure-md img, .figure-md figcaption {
	width: 70%;
	margin: 0 18% 5px 12%;
}
.figure-sm {
	width: 940px;
	margin-left: 0;
}
.figure-sm img {
	width: 240px;
	float: right;
	clear: both;
}
.figure-sm figcaption {
	width: 240px;
	margin-top: 10px;
	margin-bottom: 30px;
	float: right;
	clear: both;
}

.figure-pair {
  width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
}

.figure-pair .left {
  float: left;
	width: 48%;
  margin-right: 4%;
	margin-bottom: 10px;
}

.figure-pair .right {
  float: left;
	width: 48%;
	margin-bottom: 10px;
}

article header img {
	float: right;
}
#notes {
	margin-top: 4em;
}
.footnotes {
	font-size: .7em;
	font-family: CooperHewitt_Medium;
}
.footnotes em {
	font-family: CooperHewitt_MediumItalic;
}
article footer {
	word-wrap: break-word;
	font-family: CooperHewitt_Book;
	font-size: .7em;
	line-height: 1.75em;
	color: #555;
	margin-top: 80px;
	padding-top: 20px;
	border-top: 1px solid #111;
}
article footer em {
	font-family: CooperHewitt_BookItalic;
}
article footer strong {
	font-family: CooperHewitt_Medium;
}
article footer p {
	margin-left: 0;
}
article footer img {
	max-width: 100%;
}

article footer .fa {
  margin-right: .25em;
}

/*
MailChimp Form
*/

#mc_embed_signup {
	font-family: CooperHewitt_Light;
	font-size: 1em;
	font-weight: normal;
}
#mce-EMAIL {
	width: 95%;
	height: 3em;
	margin-top: 0;
	font-size: 1em;
	padding-left: 5%;
	letter-spacing: 1px;
	border-radius: 6px;
	border: none;
}
#mc-embedded-subscribe {
	float: right;
	height: 3em;
	background-color: #fffc01;
	color: #555;
	border: none;
	border-radius: 6px;
	font-size: 1em;
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 20px;
}
#mc-embedded-subscribe:hover {
	color: #fff;
	background-color: #e5d30b;
}
.button {
	-webkit-appearance: none;
	-moz-appearance: none;
}

/* hide download link for this one post */

#schematic-traces .article-download {
  display: none;
}

/*
@media queries
*/

@media screen and (max-width: 1219px) {
   article {
		width: 640px;
		margin-left: 240px;
	}
	.figure-lg {
		width: 840px;
		min-width: 840px;
		margin-left: -240px;
		margin-bottom: 30px;
	}
	.figure-lg img {
		margin-top: 30px;
		margin-bottom: 5px;
	}
	.figure-lg figcaption {
		margin-left: 240px;
		width: 640px;
		height: auto;
	}
	.figure-sm {
		width: 640px;
		margin-left: 0;
	}
	.figure-sm img {
		width: 240px;
		margin-left: 20px;
		float: right;
		clear: both;
	}
	.figure-sm figcaption {
		width: 240px;
		margin-top: 10px;
		margin-bottom: 30px;
		margin-left: 20px;
		float: right;
		clear: both;
	}
}

@media screen and (max-width: 959px) {
   article {
		width: 640px;
		margin-left: auto;
		margin-right: auto;
	}
	.figure-lg {
		width: 100%;
		min-width: 100%;
		max-width: 100%;
		margin-left: 0;
		margin-bottom: 30px;
	}
	.figure-lg img {
		margin-top: 30px;
		margin-bottom: 5px;
	}
	.figure-lg figcaption {
		margin-left: 0;
		width: 100%;
		height: auto;
	}
	.figure-sm {
		width: 640px;
		margin-left: 0;
	}
	.figure-sm img {
		width: 240px;
		margin-left: 20px;
		float: right;
		clear: both;
	}
	.figure-sm figcaption {
		width: 240px;
		margin-top: 10px;
		margin-bottom: 30px;
		margin-left: 20px;
		float: right;
		clear: both;
	}
}

/* tablets in portrait */

@media screen and (orientation: portrait) and (max-aspect-ratio: 7/8) {
	/* img.home {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 180px;
	}
	.post-list {
		width: 100%;
		height: 270px;
		position: fixed;
		bottom:40px;
		background-color: #f5f5f5;
		opacity: .9;
	} */
	#prev {
		margin-top: 120px;
	}
	#next {
		margin-top: 120px;
	}
	article #prev, article #next {
	  bottom: 152px;
	}
	#welcome {
		border-left: none;
		margin-left: 20px;
		width: 90px;
		margin-top: 172px;
	}
	/* .post-list li {
		float: left;
		height: 270px;
		margin-left: 20px;
		border-left: none;
		padding: 0;
	}
	.post-list img {
		display: block;
		float: none;
		height: 60%;
		margin-left: 20px;
		margin-right: 0;
		padding: 0;
	}
	.post-list .titlebox {
		display: inline-block;
		vertical-align: top;
		margin-left: 0px;
		margin-top: 10px;
		padding: 0;
		width: 80%;
		height: 100%;
	} */
}

/* phones */

@media screen and (max-width: 679px) {
   article {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}
	article header {
		margin-top: 120px;
	}
	.figure-lg {
		width: 100%;
		min-width: 100%;
		max-width: 100%;
		margin-left: 0;
		margin-bottom: 30px;
	}
	.figure-lg img {
		margin-top: 30px;
		margin-bottom: 5px;
	}
	.figure-lg figcaption {
		margin-left: 0;
		width: 100%;
		height: auto;
	}
	.figure-md img, .figure-md figcaption {
		width: 100%;
		margin: 0 0 5px 0;
	}
	.figure-sm {
		width: 100%;
		margin-left: 0;
	}
	.figure-sm img {
		width: 40%;
		margin-left: 5%;
		float: right;
		clear: both;
	}
	.figure-sm figcaption {
		width: 40%;
		margin-top: 10px;
		margin-bottom: 30px;
		margin-left: 5%;
		float: right;
		clear: both;
	}
	body {
		font-size: 1.2em;
		line-height:1.5em;
	}
	h1 {
		font-size:2.3em;
		line-height: 1.35em;
	}
	ol {
		padding-left: 10%;
	}
	article blockquote p {
		padding-left: 5%;
	}
	article #next {
		bottom: 20px;
		margin-right: 5%;
	}
	article #prev {
		bottom: 20px;
		margin-left: 5%;
	}
	#next a, #prev a {
		color: #e5d30b;
		border-bottom: none;
	}
	.background {
		position: fixed;
		width:100%;
		top: 0;
		left: 0;
		height: 28px;
		padding:15px;
		background-color: #f5f5f5;
		opacity: .9;
		z-index: 1;
	}
	.title-group {
		position: relative;
		top: auto;
		left: auto;
		z-index: 2;
	}
	.title {
		position: fixed;
		top: 0;
		left: 0;
		margin-top: 15px;
		margin-left: 15px;
		display: inline-block;
	}
	.separator {
		display: none;
	}
	.author {
		margin-top: 45px;
		margin-left: 15px;
		display: block;
		height: 0;
	}
	.extras {
		position: relative;
		top: 0;
		right: 0;
		list-style-type: none;
		margin-top: 0;
		margin-right: 15px;
		float: right;
		z-index: 2;
	}
	.extras li {
		float: none;
		text-align: right;
		margin-left: 15px;
		font-size: .9em;
	}
	.extras a:hover {
		border-bottom: none;
		color: #111;
	}
	.about {
		position: fixed;
		top: 15px;
		right: 15px;
	}
	.subscribe {
		position: relative;
	}
	.download {
		position: relative;
	}
	.figure-profile {
		width: 40%;
		margin-left: 15px;
	}

	/*
	Home Page
	*/
	img.home {
		display: none;
	}
	/* .post-list {
		height: auto;
		position: relative;
		background-color: transparent;
		z-index: 0;
		margin-top: 160px;
	}
	.post-list ul {
		list-style-type: none;
	}
	.post-list li {
		float: none;
		height: auto;
		margin-left: 0;
		border-left: none;
		border-bottom: 1px solid #111;
		margin-bottom: 50px;
		padding-bottom: 15px;
	}
	.post-list img {
		height: auto;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 10px;
	}
	.post-list .titlebox {
		width: 80%;
	}
	.post-list .titlebox h3 {
		font-size: 1.2em;
		line-height: 1.4em;
		margin-bottom: 5px;
	} */
	#prev {
		display: none;
	}
	#next {
		display: none;
	}
	#welcome {
		display: none;
	}
	#scroll {
		position: relative;
		left:0;
		width: 100%;
		height: auto;
		overflow-y: visible;
		overflow-x: visible;
	}
	#scroll ul {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}
}

/* Styling for the randomized image grid in the Christian Caro post
    powered by the caroImages() javascript function */
.random-images {
  display: grid;
  row-gap: 1em;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.random-images p {
  height: 100%;
  display: 
}
.random-images.figure-lg {
  grid-template-columns: repeat(5, 19.25%);
  column-gap: 1%;
}
.random-images.figure {
  grid-template-columns: repeat(3, 32%);
  column-gap: 2%;
}
@media screen and (max-width: 379px) {
  .random-images.figure {
    grid-template-columns: repeat(2, 49%);
    column-gap: 2%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
.random-images img {
  border-width: 0;
  max-width: 100%;
  margin: 0;
}
.random-images figcaption {
  margin-left: 0;
  width: auto;
  height: auto;
  font-family: monospace;
  font-size: .85vw;
  font-weight: 400;
}
