/* 
Reset some basic elements 
*/
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'Calendas_Plus';
  src: 	url('../fonts/calendas_plus-webfont.eot');
  src:	url('../fonts/calendas_plus-webfont.ttf') format('truetype'),
  		url('../fonts/calendas_plus-webfont.woff') format('woff'), 
        url('../fonts/calendas_plus-webfont.svg#calendas_plus') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Calendas_PlusBold';
  src: 	url('../fonts/calendas_plus_bold-webfont.eot');
  src:	url('../fonts/calendas_plus_bold-webfont.ttf') format('truetype'),
  		url('../fonts/calendas_plus_bold-webfont.woff') format('woff'), 
        url('../fonts/calendas_plus_bold-webfont.svg#calendas_plusbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Calendas_PlusItalic';
  src: 	url('../fonts/calendas_plus_italic-webfont.eot');
  src:	url('../fonts/calendas_plus_italic-webfont.ttf') format('truetype'),
  		url('../fonts/calendas_plus_italic-webfont.woff') format('woff'), 
        url('../fonts/calendas_plus_italic-webfont.svg#calendas_plusitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}




body {
	font-family: Calendas_Plus; 
	color: #111;
	font-size: 1.3em; 
	line-height:1.45em; 
	background-color: #f5f5f5;
	}
p {
	margin-bottom: .5em;
	margin-top: 0; }	
h1 { 
	font-family: Calendas_PlusItalic;
	font-size:2.6em;
	margin-top: 40px;
	line-height: 1.6em;
	}
h2 {
	font-family: Raleway; 			
	font-weight:300;
	font-size: 1em; 
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: .5em;
	line-height: 1.4em;
}	
h3 { 
	font-family: Calendas_Plus;
	font-size: 1.6em;
	margin-bottom: 4px;
}	
h4 {
	font-family: Raleway;
	font-weight: 900;
	font-size:1em;
	letter-spacing: 1px;
	text-transform: uppercase;
}

/*h1 {
	font-family: Raleway; 
	font-weight:100;
	font-size: 3em;
	margin:0; 
	text-align: left; 
	line-height: 1em; }	*/


/**
 * Links
 */
a {
  color: #555;
  text-decoration: none; }
  a:visited {
    color: #555; }
  a:hover {
    color: #000;
    text-decoration: underline; }



.main {
	margin-top: 128px;
	margin-left: 240px;
}	

svg {
	margin-left: -300px;
	margin-top: -150px;
	margin-bottom: -250px;
}

.post-list {
	list-style-type: none;
	font-family: Raleway; 			
	font-weight:600;
	margin-left: -200px;
	height: 60px;
}

.post-list li {
	/*height: 60px;*/
	border-left: 2px solid #555;
	padding-left: 20px;
	padding-right: 20px;
	float: left;
}

.post-list span {
	font-size: .7em;
}


.header {
	/*color: #aaa;*/
	position: fixed;
	width:100%;
	top: 0px;
	height: 28px;
	margin-left: 15px;
	margin-right: 15px;
	padding-top:15px;
	font-size: .7em;
	font-family: Raleway; 			
	font-weight:300;
	background-color: #f5f5f5;
	opacity: .9;
}

.header .fa-twitter {
	color: #aaa;
	margin-right: 2px;
}

.header .fa-envelope {
	color: #aaa;
	margin-right: 4px;
}

.header ul {
	list-style-type: none;
}

.header .title {
	float: left;
}

.header .contact , .contact li {
	float: right;
	text-align: right;
	margin-right: 15px;
}


.header .title a:link {
	text-transform: uppercase;
	letter-spacing: 1px;
}

.article {
	max-width: 640px;
}

/* 
Site Banner
*/
/*.banner {
	font-family: Raleway; 			
	font-weight:300;
	font-size: .75em;
	width: 200px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0px;
	background-color: #2c0202;
	background-image: url('../images/spectrum-80px.png');
	background-position: right top;
	background-repeat: repeat-y;
}*/

.banner {

}


/* 
MailChimp Form
*/
form {
	margin: 2em auto; 
	width:80%; 
	min-width: 180px;
	border: 1px solid #888;
	border-radius: 3px;
	padding: .6em;  }
input {
	border: none;
	font-size: 1.2em;
	font-family: Raleway; 
	font-weight:200;
	color: #888; 
	height:30px; 
	margin-top:.6em;
	margin-bottom:1em;}
#mce-EMAIL {
	text-align: left;
	width:60%;
	min-width: 180px; 
	height:26px; }	
#mc-embedded-subscribe {	
	font-size: 1em;
	width:30%;	
	min-width: 120px;
	border: 1px solid #888;
	border-radius: 3px;
	background-color: #fff;
	color:#000; }
#mc-embedded-subscribe:hover {
	background-color: #888;
	color: #fff; }


/*.credits {
	color: #888;  }
.twitter {
	background-image: url("../images/twitter_thin.png"); 
	background-repeat: no-repeat;
	width: 29px;
	height: 23px; 
	margin: 0 auto; }
.twitter:hover {
	background-image: url("../images/twitter_fill.png"); }
#footbackground {
	width:100%;
	height: 30px;
	position:fixed;
	bottom:0px;
	background-color: #000;
	opacity:.6; }
#foottext {
	width:100%;
	height: 25px;
	position:fixed;
	bottom:0px; 
	color: #ddd;
	font-size: .75em;  }
#foottext a:link, a:visited {
	text-decoration: none; 
	color: #ddd; }
#foottext a:hover {
	text-decoration: underline; }	
	*/