---
layout: default
---
<article>

	<header>
		<h1>{{ page.title }}</h1>
		<p>{{ page.date | date: "%B %-d, %Y" }} {% if page.platform %}— {{ page.platform }}{% endif %} {% if page.theme %}— {{ page.theme }}{% endif %}</p>
	</header>

	{{ content }}

	<footer>
		<p>Kate Palmer Albers, "{{ page.title }}," in <em>Circulation|Exchange: Moving Images in Contemporary Art</em> ({{ page.date | date: "%B %-d, %Y" }}). http://www.circulationexchange.org{{ page.url }}.</p>
		<p>Any updates or corrections to this article made after {{ page.date | date: "%B %-d, %Y" }}, are tracked in full in the GitHub repository for this project: <i class="fa fa-github"></i> <a href="https://github.com/geealbers/circ-exchg/commits/gh-pages/_posts/2013-10-01-abundant-images.md">https://github.com/geealbers/circ-exchg/commits/gh-pages/_posts/2013-10-01-abundant-images.md</a>
	</footer>	

  	<nav>
		{% if page.next %} 
	    <div id="prev">
	      <a href="{{ site.baseurl }}{{page.next.url}}"><i class="fa fa-chevron-circle-left"></i></a>
	    </div>
	    {% else %}
	    <div id="prev" class="inactive">
	      <a href="{{ site.baseurl }}/"><i class="fa fa-refresh fa-spin"></i></a>
	    </div>
	    {% endif %}
	    {% if page.previous %} 
	    <div id="next" >
	      <a href="{{ site.baseurl }}{{page.previous.url}}"><i class="fa fa-chevron-circle-right"></i></a>
	    </div>
	    {% else %}
	    <div id="next" class="inactive">
	      <a href="{{ site.baseurl }}/"><i class="fa fa-refresh fa-spin"></i></a>
	    </div>
	    {% endif %}
	</nav>

</article>
