---
layout: default
---
<article>

	<header>
		<h1>{{ page.title }}</h1>
		<p>{{ page.date | date: "%B %-d, %Y" }} {% if page.platform %}— {{ page.platform }}{% endif %} {% if page.theme %}— {{ page.theme }}{% endif %}</p>
	</header>

	{{ content }}

  	<nav>
		{% if page.next.url %} 
	    <div id="prev">
	      <a href="{{ site.baseurl }}{{page.next.url}}"><i class="fa fa-chevron-circle-left"></i></a>
	    </div>
	    {% endif %}
	    {% if page.previous.url %} 
	    <div id="next">
	      <a href="{{ site.baseurl }}{{page.previous.url}}"><i class="fa fa-chevron-circle-right"></i></a>
	    </div>
	    {% endif %}
	</nav>

</article>
